
        
    <div class="container">
        <div class="col-xs-9 ">
                <h1>Nos magasins But en Guadeloupe</h1>

    <h2>BAIE-MAHAULT 97122 - Z.A. la Jaille</h2>

    <p>
        Ouvert du lundi au samedi de 9h à 19h sans interruption.<br/>Tél : 05 90 26 83 05
    </p>

    <h3>DÉPÔT MARCHANDISES</h3>
    <p>À 5 minutes du magasin Zone de Moudong Sud.<br/>
        Ouvert du lundi au samedi de 9h00 à 12h45 et de 14h00 à 17h45</p>

    <h3>LIVRAISON ET MISE EN SERVICE</h3>
    <p>Un service livraison est à votre disposition 6 jours sur 7 et pourra également s'occuper du montage de vos
        meubles ou de la mise en service de vos appareils ménagers (hors branchements).</p>


    <h3>SERVICE APRÈS VENTE</h3>
    <div class="row">
        <div class="col-xs-12 col-sm-9">
            <p><strong>LES APPAREILS SONT À DÉPOSER À SERVICE PLUS :</strong><br/>
                Moudong Sud - Baie Mahault, ouvert :
                lundi au vendredi 8h30-12h30 / 13h30-16h30.</p>

            <p><strong>INTERVENTION À DOMICILE :</strong><br/>
                Pour les gros appareils électro-ménager Intervention sous 72h (sauf dim. et jours fériés).<br/>
                Tél : 05 90 38 26 90.</p>
        </div>


        <div class="col-xs-7 col-sm-3">
                        <img width="100%" class="img-responsive" src="/images/0d411d0.gif" alt="Le pack simplicité"/>
                    </div>
    </div>


    <hr/>

    <h2>GOURBEYRE 97113 - Valkaners</h2>

    <p>Ouvert du mardi au samedi de 9h00 à 13h00.<br/>Tél : 05 90 92 27 27.</p>

    <h3>DÉPÔT MARCHANDISES</h3>
    <p>À 2 minutes du magasin Zone de Valkaners.<br/>
        Du mardi au samedi de 09h00	à 13h00 et de 15h à 18h. Fermé le lundi.</p>

    <h3>LIVRAISON ET MISE EN SERVICE</h3>
    <p>Un service livraison est à votre disposition 6 jours sur 7 et pourra également s'occuper du montage de vos
        meubles ou de la mise en service de vos appareils ménagers (hors branchements).</p>

    <p><small>Voir conditions tarifaires en magasin. </small></p>

    <h3>SERVICE APRÈS VENTE</h3>
    <div class="row">
        <div class="col-xs-12 col-sm-9">
            <p><strong>LES APPAREILS SONT À DÉPOSER À SERVICE PLUS :</strong><br/>
                ZI Valkaners, ouvert :<br/>
                - lundi au vendredi de 8h30 à 12h30 et de 13h30 à 16h30
            </p>

            <p><strong>INTERVENTION À DOMICILE :</strong><br/>
                Pour les gros appareils électro-ménager Intervention sous 72h (sauf dim. et jours fériés).<br/>
                Tél : 05 90 92 29 07.</p>
        </div>


        <div class="col-xs-7 col-sm-3">
                        <img width="100%" class="img-responsive" src="/images/0d411d0.gif" alt="Le pack simplicité"/>
                    </div>
    </div>
    <p><strong>LES HORAIRES SONT SUSCEPTIBLES D'ÊTRE MODIFIÉS EN FONCTION DE L’ACTUALITÉ</strong></p>

        </div>

        <div class="col-xs-3">
            <img src="/bundles/app/images/sav/shop/gp.gif" class="img-responsive"/>
        </div>


            </div>


