   
    <div class="container">
        <div class="col-xs-9 ">
                <h1>Nos magasins But en Guyane</h1>

    <h2>MATOURY 97300 Cayenne - Zone Terca</h2>

    <p>
        Ouvert du lundi au samedi de 9h30 à 13h et de 15h30 à 19h. Le samedi de 9h à 19h en continue.<br/>
        Tél : 05 94 35 04 55
    </p>

    <h3>DÉPÔT MARCHANDISES</h3>
    <p>Attenant au magasin, un dépôt de 4000 m2 entièrement automatisé, pour vous permettre de profiter de vos achats au plus vite.<br/>
        Ouvert du lundi au vendredi de 9h30 à 13h et de 16h à 19h / Samedi 9h-19h.</p>

    <h3>LIVRAISON ET MISE EN SERVICE</h3>
    <p>Un service livraison est à votre disposition 6 jours sur 7 et pourra également s'occuper du montage de vos
        meubles ou de la mise en service de vos appareils ménagers (hors branchements).</p>

    <h3>SERVICE APRÈS VENTE</h3>
    <div class="row">
        <div class="col-xs-12 col-sm-9">
            <p><strong>LES APPAREILS SONT À DÉPOSER À SERVICE PLUS :</strong><br/>
                ZI Collery 1 à 97300 Cayenne, ouvert : lundi 9h-12h30 / 15h30-18h30 du mardi au vendredi 9h-12h30 / 15h30-18h15 samedi 9h-12h30</p>

            <p><strong>INTERVENTION À DOMICILE :</strong><br/>
                Pour les gros appareils électro-ménager Intervention sous 72h (sauf dimanche et jours fériés)<br/>
                Tél : 05 94 35 14 97</p>
        </div>


        <div class="col-xs-7 col-sm-3">
                            <img width="100%" class="img-responsive" src="/images/0d411d0.gif" alt="Le pack simplicité"/>
                    </div>
    </div>

    <h2>KOUROU 97310 – 20. ZI Pariacabo </h2>
    <p>Ouvert du mardi au samedi de 9h30 à 13h et de 15h30 à 19h. Fermé le lundi.<br/>
        Tél : 05 94 32 24 38
    </p>

    <h2>ST LAURENT 97311 – Zone de Saint-Jean </h2>
    <p>Ouvert du mardi au vendredi de 9h30 à 13h et de 16h à 19h.<br>
        Le Samedi de 9h à 19h<br/>
        Tél : 05 94 32 60 21
    </p>

    <p><strong>LES HORAIRES SONT SUSCEPTIBLES D'ÊTRE MODIFIÉS EN FONCTION DE L’ACTUALITÉ</strong></p>

        </div>

        <div class="col-xs-3">
            <img src="/bundles/app/images/sav/shop/gf.gif" class="img-responsive"/>
        </div>


            </div>

