
        
    <div class="container">
        <div class="col-xs-9 ">
                <h1>Notre magasin But en Martinique</h1>

    <h2>LE LAMENTIN 97232 - Acajou-Californie</h2>

    <p>
        Ouvert du lundi au samedi de 9h à 19h sans interruption.
        <br/>
        Tél : 05 96 50 44 60
    </p>

    <h3>DÉPÔT MARCHANDISES</h3>
    <p><strong>LA PRESENTATION DE LA FACTURE ORIGINALE EST OBLIGATOIRE </strong></p>
    <p>À 100 mètres du magasin (derrière King Créole), un dépôt de 10 000m2 pour vous permettre de profiter de vos
        achats au plus vite. Ouvert le lundi au samedi de 9h30 à 12h30 et de 14h00 à 17h00
        <strong>Attention : fermé le jeudi</strong>
    </p>

    <h3>LIVRAISON ET MISE EN SERVICE</h3>
    <p>Un service livraison est à votre disposition 6 jours sur 7 et pourra également s'occuper du montage de vos
        meubles ou de la mise en service de vos appareils ménagers (hors branchements).</p>

    <p><small>Voir conditions tarifaires en magasin</small></p>

    <h3>SERVICE APRÈS VENTE</h3>
    <div class="row">
        <div class="col-xs-12 col-sm-9">
            <p><strong>LES APPAREILS SONT À DÉPOSER À MARTINIQUE SERVICE PLUS :</strong><br/>
                ZI les Mangles Acajou - 97232 Le Lamentin, ouvert : lundi au vendredi 9h00-12h00 / 14h-17h00</p>

            <p><strong>INTERVENTION À DOMICILE :</strong><br/>
                Pour les gros appareils électro-ménager Intervention sous 72h (sauf dimanche et jours fériés).<br/>
                Tél : 05 96 50 18 14</p>
        </div>


        <div class="col-xs-7 col-sm-3">
                        <img width="100%" class="img-responsive" src="/images/0d411d0.gif" alt="Le pack simplicité"/>
                    </div>
    </div>

    <p><strong>LES HORAIRES SONT SUSCEPTIBLES D'ÊTRE MODIFIÉS EN FONCTION DE L’ACTUALITÉ</strong></p>

        </div>

        <div class="col-xs-3">
            <img src="/bundles/app/images/sav/shop/mq.gif" class="img-responsive"/>
        </div>


            </div>


