  

        
    <div class="container">
        <div class="col-xs-9 ">
                <h1>Notre magasins But à la réunion</h1>


    <h2>SAINT-PAUL 97460 - Savanna</h2>

    <p>Ouvert du lundi au vendredi de 9h à 12h30 et de 14h à 18h30.<br/>
        Samedi de 9h à 18h30 sans interruption</p>

    <h3>RENSEIGNEMENTS</h3>

    <p>
        Tél : 02 62 45 32 00<br/>
        <a href="mailto:contact@butlbd.com">Contact@butlbd.com</a>
    </p>

    <h3>DÉPÔT MARCHANDISES</h3>

    <p><strong>LA PRESENTATION DE LA FACTURE ORIGINALE EST OBLIGATOIRE </strong></p>

    <p>2 rue Kovil - Triangle Savanna 97460 SAINT-PAUL
        Tel : 02 62 45 32 00
    </p>

    <p>Ouvert du lundi de 14h à 18h30, du mardi au vendredi de 9h30 à 12h00 et de 14h à 18h30 et le samedi de 9h30 à 18h30 sans interruption</p>

    <h3>SERVICE APRÈS VENTE</h3>
    <div class="row">
        <div class="col-xs-12 col-sm-9">
            <p>
                2 rue Kovil - Triangle Savanna 97460 SAINT-PAUL<br/>
                Tel : 02 62 45 32 18<br/>
                Ouvert du lundi au samedi de 9h à 12h et de 14h à 18h30 .<br/>
            </p>

            <p>LIVRAISON DANS TOUTE L'ILE SOUS 48H</p>

            <p>
                Tél : 02 62 45 32 00<br/>
                <a href="mailto:contact@butlbd.com">Contact@butlbd.com</a>
            </p>

            <p>
                <small>Voir conditions tarifaires en magasin.</small>
            </p>

            <p><small>Retrouvez également toutes nos offres sur la page Facebook BUT Réunion </small></p>

        </div>

        <div class="col-xs-7 col-sm-3">
                        <img width="100%" class="img-responsive" src="/images/0d411d0.gif" alt="Le pack simplicité"/>
                    </div>
    </div>

    <p><strong>LES HORAIRES SONT SUSCEPTIBLES D'ÊTRE MODIFIÉS EN FONCTION DE L’ACTUALITÉ</strong></p>

        </div>

        <div class="col-xs-3">
            <img src="/bundles/app/images/sav/shop/re.gif" class="img-responsive"/>
        </div>


            </div>
