   <div class="container">

        <div class="col-xs-12  col-md-5 col-md-offset-2  text-center">

            <h2>Le catalogue du moment</h2>

                            <%=image_tag t('credit'), class: "img-responsive", alt: "BUT SOLDES Gf"%>
                    </div>


        <div class="col-xs-12 col-md-4 text-center">
            <h2>Soldes Incroyables</h2>

            <div>Découvrez notre nouveau dépliant BUT</div>

            <div class="well">

                <div class="col-xs-12 " style="margin-top:5px;">
                    <a class="btn btn-default" href="/flip-book">Consulter</a>
                </div>
                <div class="clearfix"></div>

            </div>

        </div>

    </div>
