 <div class="container">
    <div class="row">
        <div class="well"><h2><%=t('flipbook.text')%></h2></div>
    </div>

    <iframe style="border: 1px solid #777;" src="<%=t('flipbook.url')%>" width="100%"
            height="640px" frameborder="0" allowfullscreen=""></iframe>


</div>
