  <div class="container">


        <div class="col-xs-12 col-md-8 col-md-offset-2">
            <h2 class="montonderouge titrenewsletter">Découvrez en avant-première nos nouveautés en vous inscrivant à la newsletter de vos magasins BUT en Guyane.</h2>

                                            <form name="form" method="post">
                <div id="form"><div class="form-group"><label class="control-label required" for="form_email">Email</label> <input type="email" id="form_email" name="form[email]" required="required" class="form-control" />  </div> <div class="form-group"><button type="submit" id="form_save" name="form[save]" class="btn-default btn">Je m&#039;inscris</button></div><input type="hidden" id="form__token" name="form[_token]" value="oTs8WrVUhM7YXzJHVjbiLaSTgr8AuKkO3WJeVVk0BYw" /></div>
                </form>
            
        </div>

    </div>
